body{
    background-color:#ababab;
margin: 0px;
font-family: Arial, Helvetica, sans-serif;
}
/*classes*/
.reset{
    clear: both;
}



.introcontainer{width: 400px;
float: left;
margin: 0 0 30px 0;
}






/*id*/
/*intro*/
#intropic{float: left;
height: 150px;}
#intro {
    color: #000000;
}





#grotecontainer{
    width: 630px;
    height: 300px;
    margin: 0 auto;
    padding: 20px 0 0 0;
    background-color: #ffffff;
}


/*navigation*/
#navigation {
    height: 30px;
    margin: 0 0 10px 0;
}

#navigation a {
    padding: 5px;
    background: #272727;
}
#navigation a:hover {
    background: #5f5f5f;
}



